@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

body {
  height: 90vh;
  background-image: linear-gradient(180deg, #1f1f1f, #000);
  color: white;
  display:flex;
  margin:0;
  font-family: 'Noto Sans', sans-serif;
  align-items: center;
  flex-direction:column;
}
h3{
  width: 100vw;
  height: 10vh;
  margin-top: 0;
  display:flex;
  justify-content: center;
  align-items: center;
}
div{
  display:flex;
  width: 90vw;
  justify-content: space-evenly;
  align-items: center;
}
#data{
  border-radius: 1rem;
  background-color: lightgreen;
  color: black;
}
p{font-size: 3rem;}
input{
  height: 10vh;
  width: 90vw;
  border-radius: 1rem;
  border: none;
  background-color: lightgreen;
  text-align: center;
  font-size: 2rem;
}
button{
  border: none;
background-color: transparent;
}
input::placeholder,button,input{
  font-family: 'Noto Sans';
}
input::placeholder{
  color: #0005;
  font-style: italic;
  font-size: 1.5rem;
}
a{
  color:white;
}